.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 70vh;
    width: 60vw;
    margin: 2rem auto;
    background-color: #f0f8ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 2rem;
    border-radius: 14px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}
.button-container {
    display: flex;
    justify-content: space-evenly;
}
div {
    gap: 1rem;
    width: 100%;
}


